<div class="container main-container">
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<%= render 'detail', book: @bookd %>
				</tr>
		</table>
		<%= render 'comment', book_comments: @bookd.book_comments %>
		<%= form_for [@bookd, @book_comment], method: :post do |f| %>
			<%= f.text_area :comment, placeholder: "コメントをここに", class: "comment-form" %><br>
			<%= f.submit "Comment Up", class: "btn btn-default" %>
		<% end %>
	</div>
</div>
</div>

